.container-fluid {
    width: 100%;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.row {
    margin-bottom: 30px;
    clear: both;
}

.row:before,
.row:after {
    content: " ";
    display: table;
} 

.row:after {
    clear: both;
}

.col-1 {
    width: 67.5px;
    margin: 0 15px;
    float: left;
}

/*.col-1 img {
    width: 100%;
    height: 100%;
}*/

.col-2 {
    width: 165px;
    margin: 0 15px;
    float: left;
}

/*.col-2 img {
    width: 50%;
    height: 50%;
}*/

.col-3 {
    width: 262.5px;
    margin: 0 15px;
    float: left;
}

/*.col-3 img {
    width: 33.3%;
    height: 33.3%;
}*/

.col-4 {
    width: 360px;
    margin: 0 15px;
    float: left;
}

.col-5 {
    width: 457.5px;
    margin: 0 15px;
    float: left;
}

.col-6 {
    width: 555px;
    margin: 0 15px;
    float: left;
}

.col-7 {
    width: 652.5px;
    margin: 0 15px;
    float: left;
}

.col-8 {
    width: 750px;
    margin: 0 15px;
    float: left;
}

.col-9 {
    width: 847.5px;
    margin: 0 15px;
    float: left;
}

.col-10 {
    width: 945px;
    margin: 0 15px;
    float: left;
}

.col-11 {
    width: 1042.5px;
    margin: 0 15px;
    float: left;
}

.col-12 {
    width: 1140px;
    margin: 0 15px;
    float: left;
}