h1#title {
    color: white;
    padding: 30px;
    margin: 0;
    text-align: center;
}

#sky {
    background: linear-gradient(rgba(0,0,0,1) 0%, rgb(98, 41, 204) 100%);
    width: 100%;
}

/* Default to taking up the full space in a column */
img {
    width: 100%;
    height: 100%;
    float: right;
}

img#ufo_overlay {
    position: absolute;
    width: 67.5px;
    height: auto;
}

img#ufo {
    padding: 40px 0;
}

img#satellite_dish {
    height: 360px;
    width: auto;
}

img#forest1_overlay {
    position: absolute;
    padding-top: 80px;
    height: 280px;
    width: auto;
}

img#forest2_overlay {
    position: absolute;
    padding: 160px 0 0 90px;
    height: 200px;
    width: auto;
}

img#tent {
    padding-top: 270px;
    height: 90px;
    width: auto;
}

img#campfire {
    padding-top: 320px;
    height: 40px;
    width: auto;
}

img#picnic_table {
    padding: 325px 0 0 20px;
    height: 35px;
    width: auto;
}

img#forest3 {
    padding-top: 200px;
    height: 160px;
    width: auto;
}

/* Quick options for smaller space */
img.p5 {
    width: 5%;
    height: 5%;
}

img.p20 {
    width: 20%;
    height: 20%;
}

img.p50 {
    width: 50%;
    height: 50%;
}

img.p70 {
    width: 70%;
    height: 70%;
}

img.flipped {
    transform: scaleX(-1);
}

.spacer {
    height: 400px
}

.smallspacer {
    height: 200px
}